<!DOCTYPE html>

<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css links -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/app.css' %}">
   
    
    <!-- fonts links -->
    <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Dosis|Kaushan+Script|Magra|Oleo+Script|Rock+Salt|Shadows+Into+Light|Oswald|Open+Sans|Source+Sans+Pro" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
     


    <!-- js links -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    
    <script src="{% static 'blog/js/app.js' %}"></script>

    

    <title>Django Blog API</title>
</head>
<body >
       

    <div class="container-fluid">
        <div class="row" id="header">
        {% include 'header.html'%}
        </div>
    
        <div class="row" id="content" >
        
        
            <div class="col-md-12">
                <center>
                <p>Hello there</p>
                <div class="container" id="commoncontent">
                {% block content %}
                {% endblock %}
                </div>
                </center>
                      
           
        </div>
    </div>
    <br>
    <div class="row">
    <footer>
    {% include 'footer.html' %}
    </footer>
    </div>
        </div>

</body>
</html>

