<!-- The following page is used to  modify the default template of drf docs -->

<!-- The class values used such as "panel-heading" are obtained from source code of drf docs -->
{% load staticfiles %}

<br>
<br>
<hr>

<!-- Curl tests -->
<h2>Curl tests(in cmd)</h2>

<p>Please change the vaules if you're using the following tests</p>

<h4>Register</h4>
      <div class="panel panel-default endpoint">

        <div class="panel-heading">
        <div class="row">
        	<div col-md-12>
        	 <h6 class="panel-title title">
                
                curl -X POST -d "username=user1&&email=user1@user1.com&&email2=user1@user1.com&&password=firstuser" http://django-blog-api.herokuapp.com/api/users/register/

              </h6>	
              </div>
        </div>
        </div>
        </div>

<h4>Token generation</h4>
      <div class="panel panel-default endpoint">

        <div class="panel-heading">
        <div class="row">
        	<div col-md-12>
        	 <h6 class="panel-title title">
                
                curl -X POST -d "username=user1&&password=firstuser" http://django-blog-api.herokuapp.com/api/auth/token/
              </h6>	
              </div>
        </div>
        </div>
        </div>



<h4>Create Article</h4>
      <div class="panel panel-default endpoint">

        <div class="panel-heading">
        <div class="row">
        	<div col-md-12>
        	 <h6 class="panel-title title">
               curl -X POST -H "Authorization: JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE0NzQ5NDY4MjEsImVtYWlsIjoidXNlcjFAdXNlcjEuY29tIiwidXNlcl9pZCI6MiwidXNlcm5hbWUiOiJ1c2VyMSJ9.KFkWuxtizF5aPKxi87lHt7imAU_21Sigsd4KqPQPLYs" -d "title=first article&&body=this is the first article" http://django-blog-api.herokuapp.com/api/articles/create/

              </h6>	
              </div>
        </div>
        </div>
        </div>
<h4>View/Retrieve Articles</h4>
      <div class="panel panel-default endpoint">

        <div class="panel-heading">
        <div class="row">
        	<div col-md-12>
        	 <h6 class="panel-title title">
               curl http://django-blog-api.herokuapp.com/api/articles/

              </h6>	
              </div>
        </div>
        </div>
        </div>

<h4>View/Retrieve Comments</h4>
      <div class="panel panel-default endpoint">

        <div class="panel-heading">
        <div class="row">
        	<div col-md-12>
        	 <h6 class="panel-title title">
			curl  http://django-blog-api.herokuapp.com/api/articles/1/comments/

              </h6>	
              </div>
        </div>
        </div>
        </div>

<h4>Create Comment</h4>
      <div class="panel panel-default endpoint">

        <div class="panel-heading">
        <div class="row">
        	<div col-md-12>
        	 <h6 class="panel-title title">
			curl -X POST -H "Authorization: JWT eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE0NzUwMDY5MTIsImVtYWlsIjoidXNlcjFAdXNlcjEuY29tIiwidXNlcl9pZCI6MSwidXNlcm5hbWUiOiJ1c2VyMSJ9.gz0wTgqc18K0hMSZW1aYDbH_y3gHj9zk7r3mCpZ8Y5g" -d "text=third comment&&article=1" http://django-blog-api.herokuapp.com/api/articles/1/comments/create/

              </h6>	
              </div>
        </div>
        </div>
        </div>

<br>
<br>
<hr>

<!--How to use the this website to test the API's -->

<h2>How to use the this website to test the API's</h2>
<br>
<div>
<h4>1. Generate token</h4>
      <div class="panel panel-default endpoint">

        <div class="panel-heading">
        <div class="row">
        	<div col-md-12>
        	 <h6 class="panel-title title">
			To generate token click on <i class="fa fa-plug"></i> in /api/auth/token/ and provide username and passoword 
              </h6>	
              </div>
        </div>
        </div>
        </div>
        <br>
<center>
<img src="{% static 'docs/img/token.jpg' %}" class="img-responsive">
</center>
</div>
<br>

<div>
<h4>2. Register</h4>
      <div class="panel panel-default endpoint">

        <div class="panel-heading">
        <div class="row">
        	<div col-md-12>
        	 <h6 class="panel-title title">
			To register click on <i class="fa fa-plug"></i> in /api/users/register/ and provide username,email and passoword
              </h6>	
              </div>
        </div>
        </div>
        </div>
        <br>
<center>
<img src="{% static 'docs/img/register.jpg' %}"  class="img-responsive">
</center>
</div>
<br>

<div>
<h4>3. Create Article</h4>
      <div class="panel panel-default endpoint">

        <div class="panel-heading">
        <div class="row">
        	<div col-md-12>
        	 <h6 class="panel-title title">
			To Create Article click on <i class="fa fa-plug"></i> in /api/article/create/ and provide title,body and token in header for authorization.
			Token value should be preceeded by "JWT" as shown below.
              </h6>	 
              </div>
        </div>
        </div>
        </div>
        <br>
<center>
<img src="{% static 'docs/img/create_article.jpg' %}" class="img-responsive">
</center>
</div>
<br>

<div>
<h4>4. View/Retrieve Article</h4>
      <div class="panel panel-default endpoint">

        <div class="panel-heading">
        <div class="row">
        	<div col-md-12>
        	 <h6 class="panel-title title">
			To View Article click on <i class="fa fa-plug"></i> in /api/article/ and press send.
              </h6>	 
              </div>
        </div>
        </div>
        </div>
        <br>
<center>
<img src="{% static 'docs/img/view_article.jpg' %}" class="img-responsive">
</center>
</div>
<br>

<div>
<h4>5. Create Comment</h4>
      <div class="panel panel-default endpoint">

        <div class="panel-heading">
        <div class="row">
        	<div col-md-12>
        	 <h6 class="panel-title title">
			To Create Comment click on <i class="fa fa-plug"></i> in /api/article/&ltpk&gt/comment/create and provide text,article primary key value and token in header for authorization.
			Token value should be preceeded by "JWT" as shown below.
			Also &ltpk&gt in URL endpoint should be replaced by article primary key value.
              </h6>	 
              </div>
        </div>
        </div>
        </div>
        <br>
<center>
<img src="{% static 'docs/img/create_comment.jpg' %}" class="img-responsive">
</center>
</div>
<br>

<div>
<h4>6. View/Retrieve Comment</h4>
      <div class="panel panel-default endpoint">

        <div class="panel-heading">
        <div class="row">
        	<div col-md-12>
        	 <h6 class="panel-title title">
			To View Comment click on <i class="fa fa-plug"></i> in /api/article/&ltpk&gt/comment/ and replace URL endpoint by article primary key value
              </h6>	 
              </div>
        </div>
        </div>
        </div>
        <br>
<center>
<img src="{% static 'docs/img/view_article.jpg' %}" class="img-responsive">
</center>
</div>
<br>

<br>
<br>
<hr>